.gradle/
.idea/
.DS_Store
.newt-cache
*.iml
*.ipr
*.iws
gradle-app.setting
classes
app/build
build
sdk/tmp
velocity.log
mvrdata_bundle_*
out/
package-lock.json
sdk/inception/node_modules/
ui/src/main/webapp/node_modules/
._npm/
._tmp/
ui/src/main/webapp/release.html
ui/src/main/webapp/test/unit-tests/node_modules/

# Metatron decrypted secrets
**/metatron/decrypted
